.dataContainer {
    padding: 20px;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
}

.dataTable th, .dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.dataTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.botonAgregar{
    margin-bottom: 2em;
}

.taskGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.taskCard {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #94745b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.taskInfo p {
    margin: 5px 0;
}

.taskActions {
    margin-top: 10px;
}

.taskActions button {
    margin-right: 5px;
}


